@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */
.email-list-group {
  border: 1px solid transparent;
}

.icon-btn:hover {
  color: #242424;
}

.custom-mui-tab {
  padding-right: 12px !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: #212121 !important;
  font-family: "Ubuntu" !important;
  text-transform: capitalize !important;
}

.email-list-group:hover {
  background-color: transparent !important;
  border: 1px solid #538bf7;
  cursor: pointer;
}

.device-test-btn:hover {
  background-color: #cfcdcd !important;
  cursor: pointer;
}

.text {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Ubuntu" !important;
  color: #333333 !important;
}

/* video {
  object-fit: contain !important;
} */

/* .screen-share-container {
  object-fit: contain !important;
} */

.btn {
  text-align: center;
}

.form-label-customized {
  font-size: 0.9rem;
}

html {
  font-family: "Inter";
}
* {
  font-family: "Inter";
}

body {
  margin: 0;
  height: auto !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

.instruction-headline {
  font-size: 1rem;
  color: #212121;
  font-weight: 500;
  font-family: "Inter";
}

.instruction-point {
  font-size: 0.87rem;
  color: #555555;
  font-weight: 400;
  font-family: "Inter";
}

.network-connection-card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 5px 0 rgba(119, 121, 155, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.husky-container {
  max-width: 200px;
}

.poll-expired {
  color: grey;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
/* ::-webkit-scrollbar {
  display: none;
  width: 0; 
  background: transparent; 
} */
/* Optional: show position indicator in transparent */
/* ::-webkit-scrollbar-thumb {
  background: transparent;
} */

.not-enough-data {
  height: auto;
  max-width: 300px;
  min-width: 200px;
  min-height: 150px;
  border-radius: 5px;
  background-color: #eceff5;
  margin: 0 auto;

  margin-top: 10%;
}

.not-enough-data-text {
  font-family: "Ubuntu";
  font-size: 0.95rem;
  color: #444444;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

.avatar-menu-community-tab {
  min-width: 260px;
  min-height: 70px;
  /* border: 1px solid green; */
}

.avatar-menu-community-name {
  text-align: left;
  font: normal normal 600 0.9rem/1.5rem Lato;
  letter-spacing: 0.35px;
  color: #333333;
  opacity: 1;
}

.outline-btn-text {
  font: normal normal 900 16px/24px Lato;
  letter-spacing: 0.29px;
  color: #538bf7;
  opacity: 1;
}

.avatar-menu-group-heading {
  text-align: left;
  font: normal normal normal 0.9rem/22px "Inter";
  letter-spacing: 0.33px;
  color: #414141;
  opacity: 1;
}

.avatar-menu-account-section-btns {
  text-align: left;
  font: normal normal 700 0.95rem/28px "Inter";
  letter-spacing: 0.42px;
  color: #414141;
  opacity: 1;
}

.hide {
  display: none !important;
}

.msg-strip {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
}

.strip-msg-text {
  text-align: left;
  font: normal normal 600 14px/28px "Inter";
  letter-spacing: 0.42px;
  color: #646464;
  opacity: 1;
}

.community-invitation-card {
  min-width: 40vw;
  min-height: 45vh;
  /* box-shadow: 1px 6px 0px #212121; */

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(176, 180, 238, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.join-session-btn:hover {
  box-shadow: 0px 6px 3px #d5e2fd !important;
  cursor: pointer;
}

/* .agora_video_player {
  border-radius: px;
} */

/* Loader Styling */

.blob-7 {
  width: 100px;
  height: 100px;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(300deg);
  padding: 10px;
  mix-blend-mode: darken;
}
.blob-7:before,
.blob-7:after {
  content: "";
  grid-area: 1/1;
  width: 40px;
  height: 40px;
  background: #ffff00;
  animation: bo7 2s infinite;
}
.blob-7:after {
  animation-delay: -1s;
}

.nav-dropdown-item-active-icon:hover {
  fill: #538bf7;
}

.nav-dropdown-item-active-text:hover {
  color: #538bf7;
}

@keyframes bo7 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.menulist-community-tab:hover {
  cursor: pointer;
}

.profile-tabs-container {
  padding-bottom: 2.2rem;
}

.nav-tab-mb:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

.room-no-text {
  font-family: "Ubuntu";
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (max-width: 998px) {
  .pre-footer-img-wrapper {
    display: none;
  }
  .pre-footer-hero-btn {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 998px) {
  .pre-footer-img-wrapper {
    display: none;
  }
  .pre-footer-hero-btn {
    width: 100%;
    align-items: center;
    justify-content: start;
  }
}

.nav-link-btn:hover {
  color: #538bf7;
  border-bottom: 1px solid #538bf7;
}

.shareon-icon:hover {
  /* transform: translate(1.1%); */
  cursor: pointer;
  /* background-color: ; */
}

.offer-strip {
  background-color: #538bf7;
  color: #ffffff;
  font-weight: 500;
  font-family: "Ubuntu";
}

.sale-text {
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
}

@media only screen and (max-width: 768px) {
  .grab-deal-btn {
    margin-top: 2%;
  }
}

.stage-nav-button-primary:hover {
  cursor: pointer;
}

.poll-option:hover {
  cursor: pointer;
}

.session-running-status-container {
  background-color: #538af7;
  width: max-content;
  border-radius: 5px;
}

.session-running-status-container {
  color: #ffffff;
  font-size: 0.83rem;
  font-weight: 600;
  font-family: "Inter";
}

.loader-bluemeet {
  border: 3px solid #5f85e6; /* Light grey */
  border-top: 3px solid #f3f3f3; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.static-loader-img {
  transform: rotate(0deg) !important;
}

.ripple {
  text-decoration: none;
  color: #fff;
  width: 100px;
  height: 100px;
  background-color: #00e7ff;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

.ripple-1{
  text-decoration: none;
  color: #fff;
  width: 180px;
  height: 180px;
  background-color: #07b8cc;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3),
      0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3),
      0 0 0 60px rgba(0, 231, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 231, 255, 0.3),
      0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3),
      0 0 0 90px rgba(0, 231, 255, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3),
      0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3),
      0 0 0 60px rgba(0, 231, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 231, 255, 0.3),
      0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3),
      0 0 0 90px rgba(0, 231, 255, 0);
  }
}

.ripple-loader {
  position: absolute;
  width: 120px;
  height: 120px;
  top: -4%;
  left: -4%;
}

.ripple-loader div {
  position: absolute;
  border: 4px solid #ffffff;
  border-radius: 50%;
  animation: ripple-loader 1s ease-out infinite;
}

.ripple-loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple-loader {
  0% {
    top: 32px;
    left: 32px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    opacity: 0;
  }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.switch {
  width: 38px;
  border-radius: 11px;
}

/* The toggle knob */
.switch::after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}

/* Change color and position when checked */
.switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}

/* Drop the opacity of the toggle knob when the input is disabled */
.switch:disabled:not(:checked)::after {
  opacity: .6;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .25);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
  }
}

/* Default */
input[type='checkbox'],
input[type='radio'] {
  --active: #275EFE;
  --border: #BBC1E1;
  border: 1px solid var(--bc, var(--border));
}

/* Override defaults */
input[type='checkbox']:checked,
input[type='radio']:checked {
  --b: var(--active);
  --bc: var(--active);
}
  
/* Apply another border color on hover if not checked & not disabled */
input[type='checkbox']:not(:checked):not(:disabled):hover,
input[type='radio']:not(:checked):not(:disabled):hover {
  --bc: var(--border-hover);
}

input[type='checkbox'],
input[type='radio'] {
  --focus: 2px rgba(39, 94, 254, .25);
  outline: none;
  transition: box-shadow .2s;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  box-shadow: 0 0 0 var(--focus);
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  vertical-align: top;
  /* Additional styling */
}

input[type='checkbox']:disabled + label,
input[type='radio']:disabled + label {
    cursor: not-allowed;
}