.scrollable-chat-element-container {
  overflow: scroll;
  height: auto;
  display: flex !important;
  flex-direction: column-reverse !important;
}

.chat-msg-input-container {
  // background-color: #252525;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
}

.chat-msg-container {
  overflow: hidden;
  
}

.chat-msg-text {
  background-color: rgba(219, 219, 219, 0.575);
  border-radius: 10px;
}

.chat-msg-hover-elm {
  position: absolute;
  height: auto;
  width: auto;

  top: -5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  z-index: 10;
}

.chat-elm-emoji {
  position: absolute;
  width: auto;
  height: auto;

  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  z-index: 10;
}

.chat-msg-hover-icon {
  fill: #3d3d3d;
  font-size: 15px;
  cursor: pointer;
}

.chat-msg-hover-icon:hover {
  fill: #538bf7 !important;
  cursor: pointer;
}

.chat-msg-emoji:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.chat-msg-emoji {
  max-height: 26px;
  max-width: 26px;
}

.emoji-mart-scroll + .emoji-mart-bar {
  display: none;
}

@media only screen and (min-width: '1560px') {
  .scrollable-chat-element-container {
    overflow: scroll;
    height: auto;
  }
}
