.no-content-card-msg {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    font-family: "Inter";
}

.no-content-msg-card {
    background-color: #ffffff;
    border-radius: 5px;
}

.no-content-illustration-img {
    max-width: 250px;
    max-height: 250px;
}