.update-event-profile {
  min-width: 768px;
  max-width: 998px;
}

.profile-update-preview-grid {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-gap: 24px;
}

.vertical-divider {
    width: 1px;
    height: 100%;
    background-color: rgb(223, 223, 223);
}
