.integration-card-container {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
}

.integration-name {
    font-weight: 600;
    font-family: "Ubuntu";
    font-size: 1.3rem;
    color: #212121;
}

.integration-short-description {
    font-weight: 500;
    font-size: 0.9rem;
    font-family: "Ubuntu";
}