.integration-card-container {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
}

.integration-name {
    font-weight: 600;
    font-family: "Ubuntu";
    font-size: 1.3rem;
    color: #212121;
}

.integration-short-description {
    font-weight: 500;
    font-size: 0.9rem;
    font-family: "Ubuntu";
}

.integration-side-drawer-form {
    min-width: 580px;
}

.want-help-heading {
    font-weight: 500;
    font-family: "Ubuntu";
    font-size: 1rem;
    color: #212121;
}

.integration-guide-btn {
    border: 1px solid #b8caec;
    border-radius: 5px;

    font-weight: 500;
    font-family: "Ubuntu";
    font-size: 0.9rem;
    color: #538BF7;
    max-width: fit-content;
}

.integration-guide-btn:hover {
    border: 1px solid #538BF7;
    text-decoration: underline;
    cursor: pointer;
}