.view-and-edit-mail-list-container {
    min-width: 668px;
}

.editable-mail-group-name {
    min-width: 380px;
    position: relative;
    border: 1px solid #212121;
    border-radius: 5px;
}

.mail-group-name-input {
    border: none !important;
    outline: none !important;
}