.event-image-form-wrapper {
  width: 100%;
}

.tips-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #212121;
}

.about-tip {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #525252;
}
