.App {
  text-align: center;
  font-family: "Ubuntu", "Roboto" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.more-blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appsumo-deal-card-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.schedule-filter-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
