* {
  margin: 0;
  padding: 0;
}

.dashboard-position-fixed-non-scrollable-container {
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

// Defining Variables
//===========================================================================================//

$color-primary-main: #538bf7;
$color-primary-light: #bde4f9;
$color-primary-dark: #3987cb;

$color-sec-dark: #223345;
$color-light-grey: #7d9eb5;

$color-increment: #07c180;
$color-decrement: #f42b3d;

$color-black: #212121;
$color-grey-dark: #cecece;
$color-grey-light: #ececec;

$color-white: #ffffff;

$bg-color-white: #ffffff;
$bg-color-light-sea: #eef3f6;

$color-icon: #231f20;

$font-family: "Inter";

// Event Management Content grid Styling
//===========================================================================================//

.event-management-content-grid {
  //   border: 2px solid $color-increment;
  min-height: 75.5vh;
  background-color: $color-white;
  box-shadow: 0px 5px 20px rgba(176, 195, 211, 0.16);
  border-radius: 20px;
}

// Styling Create new event form
//===========================================================================================//

.create-new-event-form {
  min-width: 600px;
  min-height: 750px;
}

.form-label-customized{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 18px;
  /* identical to box height, or 133% */
  
  text-transform: capitalize;
  
  color: #757575;
}

.form-row-2-in-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
