.registration-more-details-right-drawer {
    width: auto; // This needs to be adjusted
    max-width: 600px;
}

.side-drawer-heading {
    font-size: 20px;
    font-family: "Inter";
    font-weight: 600;

}

.side-drawer-more-details-content-section {
    height: auto;
}

.side-drawer-content-row {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 30px;
    align-items: center;

}

.side-drawer-main-content-text {
    font-family: "Inter";
    font-weight: 500;
    color: #727272;
    font-size: 15px;
}

.content-heading {
    font-size: 14px;
    font-weight: 500;
}

.registration-more-details-icon:hover {
    cursor: pointer;
    color: #538BF7;
}



